<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.title}">게시글 상세</title>
</head>
<body>

<h1>게시글 상세보기</h1>
<table border="1">
    <tr>
        <th>제목</th>
        <td th:text="${board.title}">제목</td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${board.content}">내용</td>
    </tr>
    <tr>
        <th>작성자</th>
        <td th:text="${board.author}">작성자</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">2025-06-24 12:00</td>
    </tr>
</table>

<br>
<a th:href="@{/board/list}">목록으로</a>
</body>
</html>