<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<a th:href="@{/board/write}"> 글쓰기</a>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:href="@{/board/detail/{id}(id=${board.id})}"
               th:text="${board.title}"> 제목
            </a>
        </td>
        <td th:text="${board.author}"></td>
        <td th:text="${#temporals.format(board.createdDate,'yyyy-mm-dd HH:mm')}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>